/*001*/
body {
    font-family: "Optima", sans-serif;
    padding:6px;
    font-size:16px;
    background-color:black;
    color:white;
}
/*001*/
h1 {
    color:#ffff;
    text-transform: uppercase;
    padding: 120px 10px;
    text-align: left; 
    font-size: 400%;
    background-image:url("multimedia/ghost.png");
    background-repeat: no-repeat;
    background-position: top right;
    text-shadow:
    -5px -5px 0 #cc0002,
    5px -5px 0 #cc0002,
    -5px 5px 0 #cc0002,
    5px 5px 0 #cc0002;
}
/*001*/
h2 {
    color:#ffffff;
    font-size: 150%;
    text-transform: uppercase;
}
/*001*/
h3 {
    color:#ffffff;
    text-transform: uppercase;
}
/*001*/
footer {
    text-align: center;
}
/*010*/
.box {
    float: left;
    width: 14.28%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color:#640002 ;
}  
/*010*/
  .boxInfo {
    content: "";
    clear: both;
    width: 100%;
    display: table;
} 
/*011*/
  a:link{
      color:rgb(199, 221, 247);
}
/*011*/
  a:visited{
    color:rgb(183, 217, 255);
}
/*001*/
img {
    border: 10px solid #cc0002;
}
/*010*/
.centerimage {
    text-align: center;
}